/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Utils */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

.dashed {
  border: 2px dashed currentColor;
}

.bgc-gray {
  background-color: rgb(221, 221, 221);
}

.bgc-white {
  background-color: white;
}

.bgc-dark {
  background-color: #636363;
}

/* Header bar*/

header {
  background-color: #cdcdcd;
}

.container.intestazione {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.dashed.bgc-white {
  background-color: #e8e8e8;
}

.elemento-header {
  padding: 10px;
  flex-grow: 1;
}

.elemento-header.centrale {
  flex-grow: 3;
  text-align: center;
}

.elemento-header.destra {
  text-align: right;
}

/* Header sezione */

.wrapper.section {
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#foto-header .center-section {
  padding: 20px;
  background-color: rgb(221, 221, 221);
  height: 350px;
  width: 900px;
}

/* section 1 */

.wrapper.section.double {
  height: 500px;
}

.center-section.double {
  height: 450px;
  width: 1080px;

  display: flex;
  justify-content: space-between;
}

#pink {
  background-color: pink;
  flex-grow: 1;
  width: 40%;
}

#blue {
  background-color: rgb(164, 222, 255);
  flex-grow: 1;
  width: 60%;
}

/*  section 4 */

.wrapper.section.single {
  height: 900px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#foto-center .center-section {
  background-color: rgb(221, 221, 221);
  height: 850px;
  width: 1080px;
}

/*  footer */

.footer-wrapper {
  height: 450px;
  width: 1080px;

  display: flex;
  justify-content: space-between;
}

#left {
  background-color: #ffbcbc;
  flex-grow: 1;
  width: 30%;
}

#right {
  background-color: #ffffff;
  flex-grow: 1;
  width: 70%;

  display: flex;
  justify-content: space-between;
}

.content-list-footer {
  flex-grow: 1;
  width: 25%;
  background-color: #e28181;
}
